

div {
    margin-bottom: 15px;
}

p {
    margin: 0;
}

.createNew {
    margin-bottom: 0;
}

.notification {
    background: lightgray;
    font-size: 20px;
    color: forestgreen;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    background: lightgray;
    font-size: 20px;
    color: red;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    margin-top:10px;
}